# Set the default behavior to handle all files as text and normalize line endings.
* text=auto

# Force LF for all Python and Jupyter files.
*.py text eol=lf
*.ipynb text eol=lf
*.yml text eol=lf
*.json text eol=lf
